;; shadow-cljs configuration
{:dependencies
 [[reagent "0.8.1"]
  [org.roman01la/cljss "1.6.3"]
  [stylefy "1.7.0"]]

 :source-paths
 ["src"]

 :builds
 {:app {:target     :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules    {:main {:entries [cljs-for-js-devs.core]}}
        :devtools   {:http-root "public"
                     :http-port 8020}}}}
